body {
  background-color: yellow;
}

#test {
  width:40px;
  height:40px;
  background-color: green;
  border:thin dotted red;
  transition:all 1s linear;
}

#test:hover {
  transform:rotateY(180deg) rotateX(180deg);
}
